/* main.css */
@import "blocks/style.css";
@import "blocks/fonts.css";
@import "blocks/colormode.css";

/* custom code */

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0 4px;
  padding: 8px 24px;
  border: 1px solid var(--links);
  border-radius: 6px;
  transition: 200ms ease;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: var(--links);
  }
}
